#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#controls > * {
  margin-bottom: 1em;
}

#light-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#lightbar {
  margin-top: 10%;
  flex-grow: 1;
  height: 10em;
  border: 3px solid black;
  display: flex;
  align-items: start;
  justify-content: start;
}

#light {
  background-color: black;
  width: 2em;
  height: 100%;
}
