.copy {
    padding-left: 2em;
    padding-right: 2em;

    max-width: 50em;

    margin: auto;
    margin-bottom: 2em;
}

@media (prefers-color-scheme: dark) {
    :root {
        background-color: rgb(29, 29, 29);
        color: rgb(240, 240, 240);
    }
}
