:root {
    --white: white;
    --black: black;
    --link-color: initial;
    --link-visited: initial;
}

html {
    background-color: var(--white);
    color: var(--black);
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited);
}

.copy {
    padding-left: 2em;
    padding-right: 2em;

    max-width: 50em;

    margin: auto;
    margin-bottom: 2em;
}

:root[data-theme="dark"] {
    --white: rgb(29, 29, 29);
    --black: rgb(240, 240, 240);
    --link-color: rgb(176, 176, 253);
    --link-visited: rgb(233, 233, 255);
}
