.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grouped {
    flex-direction: row;
}

.controls > * {
    margin-bottom: 1em;
}

.controls.grouped > * {
    margin: 0;
}

.controls.grouped > label {
    display: block;
}

.controls > label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls > label > input {
    margin-left: 1em;
}

.pitch-button {
    width: 3em;
    height: 5em;
    padding: 0;
}

.break {
    margin-top: 2em;
    margin-bottom: 2em;
}

input.session-id {
    width: 6em;
}
