<div id="controls">
    <label id="light-width">
        Light width:
        <input type="range" name="light-width" />
    </label>

    <label id="light-speed">
        Light speed:
        <input type="range" name="light-speed" />
    </label>

    <button type="button" name="start">Start</button>

    <p>
        Session URL to share with your client:
        <a href="{{ session_url }}" id="link-display">{{ session_url }}</a>
    </p>

    <form method="POST">
        <button type="submit">Create new session URL</button>
    </form>
</div>
