<div id="session-info" class="copy">
    <p>
        Session ID to share with your patient:
        <input class="session-id" type="text" value="{{ session_id }}" onkeydown="event.preventDefault()"/>
        <button type="button" onclick="navigator.clipboard.writeText('{{ session_url }}')">Copy</button>
    </p>

    <form method="POST">
        <button type="submit">Refresh session ID</button>
    </form>

    <hr class="break"/>

    <div id="method-choices" class="controls grouped">
        Session type:
        <label>
            <input type="radio" name="method-choice" value="audiobar" />
            Audio
        </label>

        <label>
            <input type="radio" name="method-choice" value="lightbar" checked="true" />
            Light
        </label>
    </div>
</div>
