{% extends "layouts/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/therapist-session.css" />
    <link rel="stylesheet" href="/static/lib/Lightbar.css" />
    <link rel="stylesheet" href="/static/lib/Audiobar.css" />
{% endblock %}

{% block content %}
    <div class="copy">
        <h1>EMDR Lightbar</h1>
        <h2>Therapist: Get Started</h2>

        <p>
            Unsure how to start? <a href="/therapist/help/" target="_blank">Click here to get help</a>.
        </p>
    </div>
    {% include "therapist/_session-info.html" %}
    {% include "therapist/_light-controls.html" %}
    {% include "therapist/_audio-controls.html" %}
    {% include "shared/_light-container.html" %}
    {% include "shared/_audio-container.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="/static/lib/Clipboard.js"></script>
    <script src="/static/lib/Lightbar.js"></script>
    <script src="/static/lib/Audiobar.js"></script>
    <script src="/static/lib/TherapistLightbarController.js"></script>
    <script src="/static/lib/TherapistAudiobarController.js"></script>
    <script src="/static/lib/TherapistMethodController.js"></script>
    <script src="/static/therapist-session.js"></script>
{% endblock %}
