{% extends "layouts/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/dist/therapist-session.css" />
{% endblock %}

{% block content %}
    <div class="copy">
        <h1>EMDR Lightbar</h1>
        <h2>Therapist: Get Started</h2>

        <p>
            Unsure how to start? <a href="/therapist/help/" target="_blank">Click here to get help</a>.
        </p>

        <p>
            Would you like to give feedback? <a href="http://sarayourfriend.survey.fm/emdr-lightbar">Click here to take an anonymous survey</a>.
        </p>
    </div>
    {% include "therapist/_session-info.html" %}
    {% include "therapist/_light-controls.html" %}
    {% include "therapist/_audio-controls.html" %}
    {% include "shared/_light-container.html" %}
    {% include "shared/_audio-container.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/dist/therapist-session.js"></script>
{% endblock %}
