{% extends "layouts/base.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/lib/Lightbar.css" />
    <link rel="stylesheet" href="/static/lib/Audiobar.css" />
{% endblock %}

{% block content %}
    {% include "shared/_light-container.html" %}
    {% include "shared/_audio-container.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>window.sessionId = '{{ session_id }}';</script>
    <script src="/static/lib/Lightbar.js"></script>
    <script src="/static/lib/Audiobar.js"></script>
    <script src="/static/lib/ClientLightbarController.js"></script>
    <script src="/static/lib/ClientAudiobarController.js"></script>
    <script src="/static/lib/ClientMethodController.js"></script>
    <script src="/static/client-session.js"></script>
{% endblock %}
