.therapist-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.therapist-settings label {
    margin-bottom: 10px;
}

.therapist-settings label input[type="range"] {
    margin-left: 10px;
}
