{% extends "layouts/base.html" %}

{% block content %}
    <div class="copy">
        <h1>Welcome to Lightbar</h1>
        <h2>A remote EMDR tool for these curious times</h2>
        <p>
            Therapist? <a href="/s/">Click here to initiate a new session for you client</a>.
        </p>
        <p>
            Patient? Ask your therapist to send you the link to your shared lightbar session or enter the session ID below.
        </p>
        <div class="controls">
            <form>
                <label>
                    Session ID:
                    <input type="text" name="s" />
                </label>
                <button>Begin session</button>
            </form>
        </div>
    </div>
{% endblock %}
